<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
    <link rel="stylesheet" href="../styles/menu.css" type="text/css"/>
    <script src="../scripts/jquery-3.7.1.min.js"></script>
    <script src="../scripts/menu_script.js"></script>
</head>
<body>
<div class="main_menu">
    <button><a href="gameboard.html">Начать игру</a></button>
    <button onclick="leaders()">Просмотреть таблицу лидеров</button>
</div>
</body>
<footer>
    <div>
        <a href="https://vk.com/fakyring"><img class="logo" src="../img/vk-logo.svg"></a>
    </div>
</footer>
</html>

